<header class="main-header">
    <div class="logo">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/IMG_3010.jpeg') }}" alt="Logo Les Aventuriers Oniriques">
        </a>
    </div>

    <nav class="main-nav">
        <ul class="nav-links">
            <li class="nav-item">
                <a href="{{ path('app_presentation') }}">
                    <figure>
                        <img src="{{ asset('images/Gemini_Generated_Image_cn67fhcn67fhcn67.jpg') }}" alt="Qui sommes-nous...">
                        <figcaption>Qui sommes-nous ?</figcaption>
                    </figure>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('app_table') }}">
                    <figure>
                        <img src="{{ asset('images/Gemini_Generated_Image_cn67fjcn67fjcn67.jpg') }}" alt="Nos Tables...">
                        <figcaption>Nos Tables</figcaption>
                    </figure>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('app_contact') }}">
                    <figure>
                        <img src="{{ asset('images/Gemini_Generated_Image_cn67ficn67ficn67.jpg') }}" alt="À vous de jouer...">
                        <figcaption>À vous de jouer !</figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </nav>
</header>