<nav>
        <div class="logo">
            <a href="{{path('app_home')}}"><img src="images\IMG_3010.jpeg" alt="" height="200"> </a>


        </div>


        <ul>
            <div class="liens">

                <li>
                    <figure>
                        <a href=""><img src="{{asset('images/Gemini_Generated_Image_cn67fhcn67fhcn67.jpg')}}"
                                alt="Qui sommes-nous..." height="300"></a>
                        <figcaption><em>Qui sommes nous... </em></figcaption>
                    </figure>


                <li>
                    <figure>
                        <a href="{{path('app_table')}}"><img src="{{asset('images/Gemini_Generated_Image_cn67fjcn67fjcn67.jpg')}}"
                                alt="Nos Tables..." height="300"></a>
                        <figcaption><em>Nos Tables...</em></figcaption>
                </li>

                <li>
                    <figure>
                        <a href="{{path('app_contact')}}"><img src="{{asset('images/Gemini_Generated_Image_cn67ficn67ficn67.jpg')}}"
                                alt="A vous de jouer..." height="300"></a>
                        <figcaption><em>A vous de jouer...</em></figcaption>
                    </figure>


                </li>
            </div>

        </ul>
    </nav>