{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
{% endblock %}

{% block body %}
<div class="contact-container">
    <h1>Contactez-nous</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(form) }}

    <div class="facebook-link">
        <h3>Retrouvez-nous sur Facebook</h3>
        <a href="https://www.facebook.com/VOTRE_PAGE" target="_blank" class="facebook-btn">
            <i class="fab fa-facebook-f"></i> Suivez-nous !
        </a>
    </div>
</div>
{% endblock %}